In [2]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [42]:
median_salary_year = df['salary_year_avg'].median()
median_salary_hour = df['salary_hour_avg'].median()
median_salary_hour

45.97999954223633

In [41]:
df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)
df_filled.loc[:30,'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98
11         115000.0            45.98
12         115000.0            45.98
13         115000.0            45.98
14         115000.0            45.98
15         115000.0            45.98
16         115000.0            45.98
17         115000.0            45.98
18         115000.0            45.98
19         115000.0            45.98
20         115000.0            45.98
21         115000.0            45.98
22         115000.0            45.98
23         115000.0            45.98
24         115000.0            45.98
25         115000.0            45.98
26         115000.0            45.98
27         115000.0            45.98
28         109500.0            45.98
29         115000.0            45.98
30         115000.0            45.98

In [43]:
df_unique = df_filled